.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;

    padding-inline-start: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskDiv, .taskLi, .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  display: table;
  margin: 0 auto;
}
